body {
    margin: 0;
}

/*flex-container*/
.flex-header {
    display: flex;
    align-items: center;
    gap: 20px;
    border: 2px solid black;
    background: linear-gradient(180deg, hsla(199, 41%, 15%, 1) 0%, hsla(197, 41%, 17%, 1) 53%, hsla(158, 94%, 49%, 1) 100%);
    height: 150px;
}

/*Forum Dad*/
#banner {
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 2px solid whitesmoke;
    height: 50px;
}

header > a {
    font-size: 12px;
    margin-left: auto;
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 50px;
    width: 200px;
    border: 2px solid whitesmoke;
}