body {
    margin: 0 auto;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    background-color: #907A81; 
}

hr {
    line-height: 0;
}

main {
    color: #32021F;
}

/*flex-container*/
.flex-header {
    display: flex;
    align-items: center;
    border: 2px solid #32021F;
    background: linear-gradient(180deg, hsla(199, 41%, 15%, 1) 0%, hsla(197, 41%, 17%, 1) 53%, hsla(158, 94%, 49%, 1) 100%);
    height: 125px;
    width: 100% auto;
}

.nav-container {
    display: flex;
    justify-content: flex-end;
    height: 20px;
    width: 100% auto;
    margin: 0;
    background-color: #32021F;
    box-shadow: 2px 2px 5px #32021F
}

.nav-item {
    font-size: 13px;
    color: #F7F0F0;
    height: 15px;
    width: auto;
    margin-right: 40px;
}

.main-container {
    border-radius: 15px;
    width: 95%;
    min-height: 100vh;
    height: auto;
    background-color: #F7F0F0;;
    margin: 20px auto;
    box-shadow: 2px 2px 5px #32021F
}

.discussion-title-area {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.board-title{
    margin-right: 450px;

}

.new-thread {  
    margin-right: 30px;
}

.content-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    min-height: 600px;
    height: auto;
}

.post {
    border-radius: 15px;
    width: 80%;
    height: auto;
    box-shadow: 2px 2px 5px #32021F
}

/*Forum Dad*/
#banner {
    color: #F7F0F0;
    text-shadow: 2px 2px 5px #32021F;
    font-size: 2.5em;
    /*border: 2px solid whitesmoke;*/
    height: 50px;
    order: -1;
    margin-left: 100px;
}

#log{
    order: 1;
    margin-right: 40px;
    margin-left: auto;
}

#sign {
    order: 2;
    margin-right: 25px;
}
header > a {
    display: inline-block;
    margin-bottom: auto;
    /*border: 2px solid whitesmoke;*/
    font-size: 13px;
    color: #F7F0F0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: auto;
    width: auto;
    
}

.footer {
    font-size: 8px;
    text-align: left;
}

